<section id="about" class="about-section text-center bg-gray">
	<div class="report-form">
	<%= simple_form_for [current_user, @report], url: report_path(@report) do |f| %>
	  <%= f.input :report_type, collection: ["Arson","Assault","Disorderly Conduct","Drug","Harassment","Hate Crime","Homicide","Kidnapping","Sexual Assault","Shooting","Stabbing","Stalking","Theft","Vandalism"] %>
	  <br>
	  <%= f.input :address, placeholder: "123 Street City, State" %>
	  <br>
	  <%= f.input :description, as: :text, placeholder: "Details here..." %>
	  <br>
	  <%= f.input :time, collection: ["Just Now","15 Minutes Ago","30 Minutes Ago","45 Minutes Ago","1 Hour Ago","> 1 Hour Ago"], label: "When", default: ["Just Now"] %>
	  <br>
	  <%= f.button :submit, class: "btn btn-skin scroll" %>
	  <br>
	<% end %>
	<br>
	<%= link_to "Back", report_index_path, class: "btn btn-skin scroll" %>
	</div>
</section>