<div class="report-form">
<%= simple_form_for :report, url: report_index_path do |f| %>
  <%= f.input :report_type, collection: ["Cautious","Alert","Minor"] %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :time, as: :datetime%>
  <%= f.button :submit, class: "btn btn-skin scroll" %>
<% end %>
<br>
<%= link_to "Back", report_index_path, class: "btn btn-skin scroll" %>
</div>