<h1>All Reports</h1> 

<h2>
	<% @reports.each do |r| %>
		<p><%= r.report_type %></p>
		<p><%= r.time %></p>
		<p><%= r.address %></p>
		<p><%= r.description %></p>
		<button><%= link_to 'Edit Report' , edit_report_path(r) %></button>
		<br/>
	<% end %>
</h2>

<button><%= link_to 'New Report' , new_report_path %></button>