
<div class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li class="gn-search-item">
              <input placeholder="Search" type="search" class="gn-search">
              <a class="gn-icon gn-icon-search"><span>Search</span></a>
            </li>
            <% if user_signed_in? %>
              <li><a href="#about" class="gn-icon gn-icon-earth">Map</a></li>
              <li><a href="/users/edit" class="gn-icon gn-icon-cog">Profile</a></li>
              <li><a href="#works" class="gn-icon gn-icon-help">FAQ</a></li>
            <% end %>
            <li><a href="#contact" class="gn-icon gn-icon-archive">Contact</a></li>
          </ul>
        </div>
        <!-- /gn-scroller -->
      </nav>
    </li>
    <li><a href="/">SAMARIT</a></li>
      <% if user_signed_in? %>
        <div class = "logoutbutton">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :style => "align :right") %>
        </div>
      <% end %>     
    <li>
        <% if user_signed_in? == false %>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.email_field :email, placeholder: "Email", autofocus: true, class: 'navbar-signin-form' %>
            <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: 'navbar-signin-form' %>
            <%= f.check_box :remember_me, class: 'navbar-signin-form' %>
            <%= f.label :remember_me, class: 'navbar-signin-form' %>
            <b><%= f.submit 'Sign in', class: 'navbar-signin-form' %></b>
          <% end %>
        <% end %>
    </li>
  </ul>
</div>